<div id="h" class="header">

    <div class="logo-wrap">
        <div class="logo">

            <app-paths></app-paths> 
           
       </div>
    </div>

    <div class="links">
        <ul>
            <li id="li-head" (click)="onClickLink('#head')"><a routerLink="/home">Home</a></li>
            <li id="li-about" (click)="onClickLink('#about-us')"><a routerLink="/about" >About Us</a></li>
            <li id="li-what" (click)="onClickLink('#what-we-do')"><a routerLink="/our-job">What we do</a></li>
            <li id="li-contact" (click)="onClickLink('#contact-us')"><a routerLink="/contact">Contact Us</a></li>

        </ul>
    </div>

    <app-menu style="display: flex; padding-right: 25px;"></app-menu>
    
</div>