

.bottom {
    background-color: #262626;
    padding-top: 230px;

    .content {
        margin-left: 10%;
        margin-right: 10%;
        margin: auto;
        max-width: 1100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 120px;
        justify-content: space-between;

        .desc {
            padding-left:30px;
            
            span {
                color: white;
            }
            color: #7D7D7D;

            .logo {
                transform: translateX(-5px);
                // background-color: #7D7D7D;
                margin: auto 0;
                width: 194px;
                height: 45px;
                position: relative;
                left: 0.75%;
                right: 80.98%;
                top: 3.15%;
                bottom: 2.89%;
        
            }
            position: relative;
            
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;


        }

        
            .main {
                color: #999999;
                font-weight: 500;
                font-size: 16px;
                line-height: 300%;
    
            }
    
            .services {
                color: #999999;
                font-weight: 500;
                font-size: 16px;
                line-height: 300%;
                padding-right: 30px;
            }
        
    }

    .mark {
        height: 50px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        align-items: center;
        display: flex;
        justify-content: center;
        
        color: #4F4F4F;

        svg {
            padding: 5px;
        }
    }
}

.head {
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 15px;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        a {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 300%;
            color: #999999;
            text-decoration: 0;
        }
    }
}



@media screen and (max-width: 1100px) {

    .bottom .content {
        justify-content: start;
    }

    .desc {
        padding-left: 10% !important;
        width: 100%;
        padding-bottom: 100px;
    }
    .main {
        padding: 0 10%;
    }

    .services {
        padding: 0 10%;
    }
}