

<div class="what-we">
    <div class="head-anton">
        <span>WHAT WE</span>
        DO
    </div>


    <div class="items">

        <div id="wi1" class="item">
            <div class="square">

            </div>

            <div class="bold-font">Safeguarding our <br>
                clients</div>

            <div class="thin thin-font">Discretion is key, therefore we have converted all our case studies without mentioning our
                clients names.</div>

            <div class="bottom">

                <div class="see thin-font">
                    See Case Studies
                </div>
                <div class="arrow">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="#FFBC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>     
                </div>

            </div>

        </div>

        <div id="wi2" class="item">
            <div class="square">

            </div>

            <div class="bold-font">Let's meet & explore
                options together</div>

            <div class="thin thin-font">We're here to help and answer any question you might have. We look forward to hearing from you.</div>

            <div class="bottom">
                
                <div class="see thin-font">
                    Contact Us
                </div>
                <div class="arrow">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="#FFBC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>     
                </div>

            </div>

        </div>

        <div id="wi3" class="item">
            <div class="square">

            </div>

            <div class="bold-font">Discover where we <br> came from</div>

            <div class="thin thin-font">We're here to help and answer any question you might have. We look forward to hearing from you.</div>

            <div class="bottom">
                
                <div class="see thin-font">
                    Our Timeline
                </div>
                <div class="arrow">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="#FFBC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>     
                </div>

            </div>

        </div>


    </div>

</div>