
<div id="contactid"></div>

<div class="contact">

    <div id="contact" class="head anton-font">
        <span>CONTACT </span>
        US
        
    </div>

    <div id="con1" class="desc">

        

        <form action="">
            <div class="form-input">
                <span>Full Name</span>
                <input type="text" placeholder="Eugen Ulianov">
            </div>
    
            <div class="form-input">
                <span>Company name</span>
                <input placeholder="Oldmin Company" type="text">
            </div>
    
            <div class="form-input">
                <span>Phone Number</span>
                <input placeholder="Eugen Ulianov" type="text">
            </div>
    
            <div class="form-input">
                <span>E-mail</span>
                <input placeholder="Oldmin@gmail.com" type="text">
            </div>
    
            <div class="form-input">
                <span>Write us messages</span>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
    
            <div class="send">
                <button class="button-s button1 ubu-font">Send Message</button>
            </div>
        </form>
    </div>
</div>