
.head span {
    color: #FFBC00;
}
.contact {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;

    .head {
        margin: auto;
        max-width: 800px;
    }

    .desc {
        transform: translateY(300px);
        margin: auto;
        max-width: 800px;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 30px;

        form {
            padding: 30px;

            .form-input {
                display: grid;
                padding-bottom: 50px;
                
                span {
                    padding-left: 5px;
                    padding-bottom: 5px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #999999;
                }

                input {
                    padding-left: 5px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    width: 50%;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }

                input:focus {
                    outline: none;
                }

                textarea {
                    padding-left: 5px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    width: 50%;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }

                textarea:focus {
                    outline: none;
                }
            }

            .send {
                button {
                    margin-top: 20px;
                    padding: 20px 30px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    color: black;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .contact .desc form .form-input input {
       width: 100%;

    }
          
}