

    
<label class="nav-icon" >
    <input type="checkbox" id="nav-check" (click)="onMenuToggle()"/> 
    <span class="span1"></span>
    <span class="span2"></span>
    <span class="span3"></span>
</label>

<div id="side-menu" class="ubu-font">
    <ul>
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>
        <li routerLinkActive="active"><a routerLink="/our-job">What we do</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact Us</a></li>
    </ul>

    <ul>
        <li><a class="services">Services</a></li>
        <li routerLinkActive="active"><a routerLink="/about">Training and Implementation</a></li>
        <li routerLinkActive="active"><a routerLink="/our-job">Cyber Consultants</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Consultancy and brand protection</a></li>
        <li routerLinkActive="active"><a routerLink="/home">Software</a></li>
    </ul>
</div>