

<div class="why-we">

    
        <div class="head">
            <div class="bold anton-font">WHY WE</div>
            <div class="ubu-font thin">A team dedicated to protect your assets and reputation. With <br> our global footprint and our specialized team members and <br> partners we know what it takes to make sure that we can <br> deliver a minimum risk environment for our clients.</div>
        </div>
    

    <div  class="squares">
        <div id="sq1" class="square">
            <div class="gold ubu-font">25+</div>
            <div class="bold-font">years of experience</div>
            <div class="thin thin-font">In handling legal issues.</div>
        </div>
        <div id="sq2" class="square">
            <div class="gold ubu-font">230+</div>
            <div class="bold-font">signature strategies</div>
            <div class="thin thin-font">Developed for our clients.</div>
        </div>
        <div id="sq3" class="square">
            <div class="gold ubu-font">145</div>
            <div class="bold-font">corporate clients</div>
            <div class="thin thin-font">We helped thus far.</div>
        </div>
        <div id="sq4" class="square">
            <div class="gold ubu-font">30</div>
            <div class="bold-font">employees working</div>
            <div class="thin thin-font">For your legal security.</div>
        </div>
    </div>
</div>