
.why-we {
    padding: 150px 0;
    background-color: #FFBC00;

    .head {
        padding:30px 0;
        padding-left: 10%;
        padding-right:10%;
        max-width: 1140px;
        width: auto;
        margin: auto;

        .bold {
            font-weight: 400;
            font-size: 50px;
            line-height: 75px;
        }

        .thin {
            font-weight: 400;
            font-size: 18px;
            line-height: 180%;
        }
    }


    .squares {
        padding-left: 10%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
        .square {
            opacity: 0;
            transform: translateY(200px);

            padding: 40px 0;
            margin: 15px;
            text-align: center;
            width: 270px;
            background: white;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
            border-radius: 12px;

            .gold {
                color: #FFBC00;
                font-weight: 700;
                font-size: 90px;
                line-height: 103px;
            }

            

            .thin {
                color: #999999;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
     .why-we .squares {
            padding: 0;
        }
        
              
}